---
import { Icon } from "astro-icon";
---

<footer aria-label="Footer" class="footer-container" id="footer">
   <div class="footer-info">
      <div class="brand">Zingueria Marquez</div>
      <div class="social-container">
         <a aria-label="Instagram" href="https://www.instagram.com/zm.grz/">
            <Icon class="social-logo" name="ph:instagram-logo" />
         </a>
         <a
            aria-label="WhatsApp"
            href="https://api.whatsapp.com/send?phone=5491130206654"
            ><Icon class="social-logo" name="ph:whatsapp-logo-light" />
         </a>
      </div>
   </div>
</footer>

<style lang="scss">
   .footer-container {
      bottom: 0em;
      width: 100%;
      background-color: var(--dark-grey);
      color: var(--white);

      .footer-info {
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         height: 7em;
         max-width: 80vw;

         .brand {
            align-self: center;
         }
         .social-container {
            display: flex;
            align-items: center;

            a {
               color: var(--white);
               margin-right: 0.4em;
            }
            .social-logo {
               width: 2.5em;
               transition: all 0.3s;

               &:hover {
                  transform: scale(1.09);
               }
            }
         }
      }

      @media screen and (max-width: 765px) {
         .footer-list {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            :nth-child(1),
            :nth-child(2) {
               margin-right: 0;
            }

            :nth-child(2) {
               margin-top: 1em;
            }
         }
         .brand {
            margin: 0;
            align-self: center;
         }
      }
   }
</style>
