<div class="hero">
    <h1 class="title">
        Zingueria <br /> Marquez
    </h1>
</div>

<style lang="scss">
    .hero {
        background: url("/src/img/chapa-fondo.jpg") no-repeat;
        position: relative;
        box-sizing: border-box;
        background-size: cover;
        height: 100vh;
        width: 100%;
        .title {
            color: var(--white);
            text-shadow: black -5px 5px 10px;
            z-index: 10;
            font-size: var(--step-6);
            font-weight: 800;
            position: absolute;
            letter-spacing: 5px;
            top: 10%;
            left: 5%;
        }
    }

    @media screen and (max-width: 800px) {
    }
</style>
